
* {
  box-sizing: border-box;
}

@font-face {
font-family: 'Higashiosaka';
src: url('../font/Higashiosaka-Regular.woff')  format('woff'),
url('../font/Higashiosaka-Regular.woff2')  format('woff2'),
url('../font/Higashiosaka-Regular.ttf')  format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Righteous&display=swap');

body {
  width: 100%;
  background-color: #fff;
  color: #0f172a;
  line-height: 1.5;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  background-color: #fff;
  /* border-top-left-radius: 0.5rem; */
  /* border-top-right-radius: 0.5rem; */
  box-shadow: 0 0 15px rgba(100, 100, 100, .1);
  height: auto;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

.container.bgnone {
  position: relative;
  top: -144px;
  border-radius: .5rem;
  /* border-top-left-radius: 0.5rem; */
  /* border-top-right-radius: 0.5rem; */
  width: 95%!important;
  height: auto;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  box-shadow: none;
}

h2.title {
  font-family: KPSans,Avenir Next,sans-serif;
  border-bottom: 4px solid #00507F;
  border-image: linear-gradient(to right, #00507F 0%, #FFF 100%);
  border-image-slice: 1;
  width: fit-content;
  padding-bottom: 8px;
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 1;
  margin: 0 auto 30px;

  @media(max-width: 768px) {
    font-size: 3rem;
  }
}

p {
  font-weight: light;
  letter-spacing: 1px;
  line-height: 1.75;
}

.text p {
  margin-bottom: 1rem;
  line-height: 2;
  font-size: 15px;
}

img {
  width: 100%;
}

a.active {
  color: #0369a1;
}

a.active::before {
  content: "";
  border-left: 4px solid #0369a1!important;
  margin-right: 5px;
}

.slow-moves {
  transition: 0.3s;
}

.sidebar-inactive {
  transform: translateX(-100%);
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  text-align: center;
  color: #fff;
  font-size: .65rem;
  margin: 8px 0;
  white-space: nowrap;
}

.tag p {
  padding: 2px 8px;
}

/* メニューのCSS */
#nav.panelactive{
  position:fixed;
  z-index: 999;
  top: 0;
  width:100%;
  height: 100vh;
}

.circle-bg {
  position: fixed;
  z-index:3;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #00507F;
  transform: scale(0);
  right:-50px;
    top:-50px;
    transition: all .6s;
}

.circle-bg.circleactive{
  transform: scale(50);
}

#nav-list{
    display: none;
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#nav.panelactive #nav-list{
     display: block;
}

/*ナビゲーション*/
#nav ul {
  opacity: 0;
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

#nav.panelactive ul {
    opacity:1;
}

#nav.panelactive ul li {
animation-name:naviAnime;
animation-duration:1s;
animation-delay:.2s;
animation-fill-mode:forwards;
opacity:0;
}
@keyframes naviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
#nav li {
  text-align: center;
  list-style: none;
}

#nav li a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: bold;
}


#nav li a:hover {
  scale: 1.1;
  transition: all .5;
}

.nav-toggle {
  position:fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  background-color: #00507F;
  border-bottom-left-radius: 100%;
  mix-blend-mode:screen;
  opacity: .99;

  @media screen and (max-width: 768px)  {
    width: 4.5rem;
    height: 4.5rem;
  }
}

.openbtn1 span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  right: 1.5rem;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  width: 1.5rem;

  @media screen and (max-width: 768px)  {
    right: 1rem;
  }
  }

.openbtn1 span:nth-of-type(1) {
  top: 1.5rem;
  @media screen and (max-width: 768px)  {
    top: 1rem;
  }
}

.openbtn1 span:nth-of-type(2) {
  top: 2rem;
  @media screen and (max-width: 768px)  {
    top: 1.5rem;
  }
}

.openbtn1 span:nth-of-type(3) {
  top: 2.5rem;
  @media screen and (max-width: 768px)  {
    top: 2rem;
  }
}

.nav-toggle p {
  position: absolute;
  top: 2.75rem;
  right: 1.125rem;
  color: #fff;
  font-size: .75rem;
  @media screen and (max-width: 768px)  {
    top: 2.15rem;
    right: .625rem;
  }
}

.nav-toggle.active .openbtn1 span:nth-of-type(1) {
    top: 1.5rem;
    right: 1.5rem;
    transform: translateY(6px) rotate(-45deg);
    width: 1.5rem;
    background-color: #fff;

    @media screen and (max-width: 768px)  {
    top: 1rem;
    right: 1rem;
    }
}

.nav-toggle.active .openbtn1 span:nth-of-type(2) {
  opacity: 0;
}

.nav-toggle.active .openbtn1 span:nth-of-type(3){
    top: 2.25rem;
    right: 1.5rem;
    transform: translateY(-6px) rotate(45deg);
    width: 1.5rem;
    background-color: #fff;

    @media screen and (max-width: 768px)  {
    top: 1.75rem;
    right: 1rem;
  }
}

/* key */

.input {
  border: none;
  outline: none;
  border-radius: 32px;
  padding: 1em;
  background-color: #FAFAFA;
  box-shadow: inset 2px 5px 10px rgba(100,100,100,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.card {
  background: #FAFAFA;
  box-shadow:
  -10px -10px 15px #ffffff,
  10px 10px 15px #cccccc;
}

.card2 {
  background: #FAFAFA;
  box-shadow:
  -3px -3px 3px #ffffff,
  3px 3px 3px #cccccc;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ball {
  display: flex;
  justify-content: center;
  /* width: 180px; */
  /* height: 180px; */
  width: 18%;
  aspect-ratio: 1/1;
  color: #fff;
  background: linear-gradient(#38bdf8,#00507F);
  text-align: center;
  /* box-shadow: -3px -3px 10px #cffafe,3px 3px 10px #00507F; */
  /* -webkit-animation: move1 4s linear infinite; */
          /* animation: move1 4s linear infinite; */

  @media(max-width: 640px) {
    width:23%;
  }

}

@keyframes move1 {
  0% {
    transform: translate(.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: translate(1);
  }
}
/* anime */

.anime_wrap {
  display: block;
  position: relative;
  overflow: hidden;
  /* background: #FAFAFA; */
  min-height: min-content;
}

.anime_wrap::before,
.anime_wrap::after {
    content: '';
    width: 100%;
    height: 100%;
    min-height: max-content;
    position: absolute;
    left: 0;
    top: 0;
}

.anime_wrap::before {
    background: #00507F;
    z-index: 3;
    transition: .75s;
}

.anime_wrap::after {
    background: #00507F;
    z-index: 2;
    transition: 1s;
    transition-delay: .5s;
}

.anime_wrap.show::before,
.anime_wrap.show::after {
    transform: translateY(100%);
}

/* .anime_wrap video {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
    opacity: 0;
    transform: scale(.8);
    transition: 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition-delay: .4s;

    @media(max-width: 768px) {
    width: 100%;
    padding: 50px 16px;
  }
} */


.video video {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  opacity: 0;
  transform: scale(.8);
  transition: 1.2s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: .4s;

  /* -webkit-animation: fade 3s; */
          /* animation: fade 3s; */

  @media(max-width: 768px) {
    width: 100%;
    padding: 50px 16px;
  }
}
/*
@keyframes fade {
  from {
    transform: scale(.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1
  }
} */

.video.show video {
    opacity: 1;
    transform: scale(1);
}
/* .anime_wrap p {
    color: #FFF;
    opacity: 0;
    transform: translateX(-40px);
    transition: 1.2s;
    transition-delay: .8s;
    z-index: 1;
    overflow: hidden;
}
.anime_wrap.show p{
    opacity: 1;
    transform: translateX(0);
} */


/* めインビジュアル */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;1,500&display=swap");
/*
$purple: #8a15ff;
$blue: #3800e7;
$ltblue: #15e0ff;
$magenta: #d000c5;
#38bdf8

// This is an example of animations & svgs... I completely understand that the amount of absolute positioning in this file is insane... ;) <3 */
.detail .mainvisual {
  background: #fff;
  width: 100%;
  height: calc(680/1920*100vw);

  @media(max-width: 768px) {
    height: calc(400/768*100vw);
  }
}

.mainvisual {
  background: linear-gradient(#38bdf8,#00507F);
  /* background: #fafafa; */
  width: 100%;
  height: 100dvh;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  /* font-family: "DM Mono", monospace; */
  font-weight: 300;
  overflow: hidden;
}

/* .mainvisual #video {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  opacity: .25;
} */

.mainvisual h1 {
  margin: 0 auto;
  /* width: fit-content; */
  line-height: 1.25;
  color: #fff;
  /* color: #0f172a; */
  mix-blend-mode: soft-light;
}

header {
  position: relative;
  z-index: 99;
}

.main {
  height: 100dvh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 10;
  overflow: hidden;
}

.main:before, .main:after {
  content: "";
  display: block;
  position: absolute;
  z-index: -3;
}

.main:before {
  right: 0;
  bottom: 19rem;
  height: 22em;
  width: 22em;
  border-radius: 30em;
  background: linear-gradient(#00507F, #38bdf8);
  /* background: #0090E5; */
  align-self: flex-end;
  -webkit-animation: gradient-fade 8s ease-in-out 3s infinite alternate;
          animation: gradient-fade 8s ease-in-out 3s infinite alternate;
}

@media(max-width: 768px) {
  .main:before {
    height: 15em;
    width: 15em;
  }
}

.main:after {
  top: 0;
  left: 30;
  height: 10em;
  width: 10em;
  border-radius: 10em;
  background: linear-gradient(#38bdf8, #00507F);
  /* background: linear-gradient(#FDE047, #fde047); */
  /* background: #FDE047; */
  -webkit-animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
          animation: gradient-fade-alt 6s ease-in-out 3s infinite alternate;
}

@media(max-width: 768px) {
  .main:after {

  }
}

.main__text-wrapper {
  position: relative;
  padding: 2rem;

   @media(max-width: 768px) {
    padding: 1.5rem 0;
  }

}

.main__text-wrapper:before, .main__text-wrapper:after {
  content: "";
  display: block;
  position: absolute;
}

.main__text-wrapper:before {
  z-index: -1;
  top: -3em;
  right: -3em;
  width: 10em;
  height: 10em;
  opacity: 0.7;
  /* border-radius: 13em; */
  background: linear-gradient(#15e0ff, #8a15ff);
  /* background: #E11D48; */
  -webkit-animation: rotation 7s linear infinite;
          animation: rotation 7s linear infinite;
}

@media(max-width: 768px) {
  .main__text-wrapper:before {
    top: -50%;
    right: -25%;
    height: 7em;
    width: 7em;
  }
}

.main__text-wrapper:after {
  z-index: -1;
  left: 0em;
  bottom: -18em;
  width: 20em;
  height: 20em;
  border-radius: 20rem;
  background: linear-gradient(#00507F, #8a15ff);
  /* background: #10B981; */
  -webkit-animation: rotation 7s linear infinite;
          animation: rotation 7s linear infinite;

}

@media screen and (max-width: 768px) {
  .main__text-wrapper:after {
    bottom: -20em;
    height: 15rem;
    width: 15rem;
  }
  }

.arrow {
  z-index: 98;
  opacity: 0.5;
  position: absolute;

}

.arrow--top {
  top: 0;
  left: -5rem;
  @media(max-width: 768px) {
    left: -10em;
    width: 100px;
  }
}

.arrow--bottom {
  bottom: 0;
  right: 3em;

  @media(max-width: 768px) {
    display: none;
  }
}

.circle {
  transform: translate(50%, -50%) rotate(0deg);
  transform-origin: center;
}
.circle--ltblue {
  height: 20rem;
  width: 20rem;
  border-radius: 20em;
  background: linear-gradient(#15e0ff, #3800e7);
  @media(max-width: 768px) {
    height: 10rem;
    width: 10rem;
  }
}

.backdrop {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: pink;
}

.dotted-circle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  -webkit-animation: rotation 38s linear infinite;
          animation: rotation 38s linear infinite;
}

.draw-in {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  -webkit-animation: draw 15s ease-in-out alternate infinite;
          animation: draw 15s ease-in-out alternate infinite;
}

@-webkit-keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}
.item-to {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-1 {
  -webkit-animation-name: bounce-1;
          animation-name: bounce-1;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.bounce-2 {
  -webkit-animation-name: bounce-2;
          animation-name: bounce-2;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

.bounce-3 {
  -webkit-animation-name: bounce-3;
          animation-name: bounce-3;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
@keyframes gradient-fade {
  from {
    transform: translate(10%, -10%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}
@keyframes gradient-fade-alt {
  from {
    transform: translate(-20%, 20%) rotate(0deg);
  }
  to {
    transform: translate(-60%, 60%) rotate(360deg);
  }
}

#s1,#s2,#s3 {
  overflow:hidden;
  white-space:nowrap;
  width: 100%;
}

#s1 {
animation:s1 3s ;
}
@keyframes s1 {
      0% { width:0%; }
      33% { width:100%; }
      to { width:100%; }
}

#s2 {
animation:s2 3s ;
}

@keyframes s2 {
      0% { width:0%; }
      33% { width:0%; }
      66% { width:100%; }
      to { width:100%; }
}
#s3 {
animation:s3 3s ;
}

@keyframes s3 {
      0% { width:0%; }
      66% { width:0%; }
      to { width:100%; }
}


/* Prot FES */
.bg-ball {
  position: absolute;
  width: calc(600/1440*100vw);
  aspect-ratio: 1/1;
  border-radius: 100%;
  background: #334155;
  left: -25%;
}


/* ポスターアニメーション */
.poster-container {
  /* max-height: 100%; */
}

.poster {
  width: 100%;
  opacity: 1;
  transform: scale(1);
}

.poster.no-entry-animation {
  opacity: 1;
  transform: scale(1);
}



/* 第2回プロトフェス */

.booth {
  contain: paint;
}


.booth_list .booth_row .booth_item {
  padding: 10px;
  transition: all .25s;
}

.booth_list .booth_row .booth_item:hover {
  transition: all .25s;
  scale: 1.0875;
  box-shadow: 0 0 15px rgba(0,0,0,.10);
  cursor: pointer;
  border-radius: 8px;
}

.booth_list .booth_row .booth_item .image {
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: 4px;
}

.booth_list .booth_row .booth_item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.booth_list .booth_row .booth_item h4 {
  font-size: .75rem;
  font-weight: 600;
}

.booth_list .booth_row .booth_item p {
  font-size: .75rem;
  color: #1e293b;
}

.booth_list .booth_row.pink .booth_item {
  background-color: #fce7f3;
}

.booth_list .booth_row.pink .booth_item h4{
  color: #db2777;
}

.booth_list .booth_row.blue .booth_item {
  background-color: #e0f2fe;
}

.booth_list .booth_row.blue .booth_item h4 {
  color: #2563eb;
}

.booth_list .booth_row.green .booth_item {
  background-color: #d1fae5;
}

.booth_list .booth_row.green .booth_item h4 {
  color: #10b981;
}

.booth_list .booth_row.orange .booth_item {
  background-color: #fef3c7;
}

.booth_list .booth_row.orange .booth_item h4 {
  color: #f59e0b;
}